@model IEnumerable<InventoryApp.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Inventories" asp-action="Index" method="get">
    <table>
        <tr>
            <td>
                Price Range: <input type="number" name="searchStringPriceFrom" /> to <input type="number" name="searchStringPriceTo" />
            </td>
            <td>
                Serial Number: <input type="text" name="searchStringSerial" />
            </td>
        </tr>
        <tr>
            <td>
                Installation Date: <input type="date" name="searchStringInstallFrom" /> to <input type="date" name="searchStringInstallTo" />
            </td>
            <td>
                Room: <select id="RoomNumber" name="searchStringRoom">
                    <option value=""></option>
                    @{
                        List<string> list = new List<string>();
                        foreach(var item in Model)
                        {
                            if(!list.Contains(item.OfficeRoomNumber))
                            {
                                list.Add(item.OfficeRoomNumber);
                            }
                            list.Sort();

                        }
                    }

                    @foreach (var item in list){
                    
                        <option value=@int.Parse(item)><span>@item</span></option>
                   }
                
     
                </select>


            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Filter" />
        <input type="submit" value="Clear Filters" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerSerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeRoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerSpecification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperatingSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstallationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManufacturerSerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeRoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComputerSpecification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatingSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstallationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
